# pandas

data maniapulation and data analysis

**descriptive** = what happened

**digonostic**  = why happened

**predictive** = what is like to be happen

**prescriptive** = learn and predict(AI)

In [9]:
import numpy as np

In [10]:
import pandas as pd

In [11]:
# object creation
s = pd.Series([1,3,5,7,9,8])
s

0    1
1    3
2    5
3    7
4    9
5    8
dtype: int64

In [12]:
s2 = pd.Series([1,3,5,7, ,9]) # 2nd LAST IS EMPTY
s2

SyntaxError: invalid syntax (2074126500.py, line 1)

In [ ]:
s3 = pd.Series([1,2,3,4,np.nan,6,5])
s3

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
6    5.0
dtype: float64

In [ ]:
dates = pd.date_range("20250801", periods=7)

In [ ]:
dates

DatetimeIndex(['2025-08-01', '2025-08-02', '2025-08-03', '2025-08-04',
               '2025-08-05', '2025-08-06', '2025-08-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# convert above data in to data frame  
df = pd.DataFrame(np.random.rand(7,4), index=dates ,columns=list("ABCD"))

In [ ]:
df

                   A         B         C         D
2025-08-01  0.462000  0.473742  0.913897  0.937692
2025-08-02  0.547252  0.771015  0.131238  0.599524
2025-08-03  0.788618  0.047442  0.230356  0.759574
2025-08-04  0.327800  0.718718  0.353469  0.229184
2025-08-05  0.405439  0.967067  0.763996  0.407322
2025-08-06  0.925931  0.465068  0.666526  0.441330
2025-08-07  0.033509  0.275903  0.535724  0.399846

In [ ]:
# through dictionary make datafarme
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20250301"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4 , dtype="int32"),
        "E": pd.Categorical(["test","train","test","train"]),
        "F": "foo",
    }
)

In [ ]:
df2

     A          B    C  D      E    F
0  1.0 2025-03-01  1.0  3   test  foo
1  1.0 2025-03-01  1.0  3  train  foo
2  1.0 2025-03-01  1.0  3   test  foo
3  1.0 2025-03-01  1.0  3  train  foo

In [ ]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [ ]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2025-08-01  0.462000  0.473742  0.913897  0.937692
2025-08-02  0.547252  0.771015  0.131238  0.599524
2025-08-03  0.788618  0.047442  0.230356  0.759574
2025-08-04  0.327800  0.718718  0.353469  0.229184
2025-08-05  0.405439  0.967067  0.763996  0.407322
2025-08-06  0.925931  0.465068  0.666526  0.441330
2025-08-07  0.033509  0.275903  0.535724  0.399846>

In [ ]:
df.tail

<bound method NDFrame.tail of                    A         B         C         D
2025-08-01  0.462000  0.473742  0.913897  0.937692
2025-08-02  0.547252  0.771015  0.131238  0.599524
2025-08-03  0.788618  0.047442  0.230356  0.759574
2025-08-04  0.327800  0.718718  0.353469  0.229184
2025-08-05  0.405439  0.967067  0.763996  0.407322
2025-08-06  0.925931  0.465068  0.666526  0.441330
2025-08-07  0.033509  0.275903  0.535724  0.399846>

In [ ]:
df.head(2)

                   A         B         C         D
2025-08-01  0.462000  0.473742  0.913897  0.937692
2025-08-02  0.547252  0.771015  0.131238  0.599524

In [ ]:
df.tail(2)

                   A         B         C         D
2025-08-06  0.925931  0.465068  0.666526  0.441330
2025-08-07  0.033509  0.275903  0.535724  0.399846

In [ ]:
df.index

DatetimeIndex(['2025-08-01', '2025-08-02', '2025-08-03', '2025-08-04',
               '2025-08-05', '2025-08-06', '2025-08-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [ ]:
# converting dataframe to array
df2.to_numpy()

array([[1.0, Timestamp('2025-03-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2025-03-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2025-03-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2025-03-01 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df2.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2025-03-01 00:00:00  1.0  3.0
min    1.0  2025-03-01 00:00:00  1.0  3.0
25%    1.0  2025-03-01 00:00:00  1.0  3.0
50%    1.0  2025-03-01 00:00:00  1.0  3.0
75%    1.0  2025-03-01 00:00:00  1.0  3.0
max    1.0  2025-03-01 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [ ]:
# transpose of dataframe
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-03-01 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [ ]:
df2.sort_index(axis=1, ascending=True) 
#if you erite here ascending = False then it give you data in decending order

     A          B    C  D      E    F
0  1.0 2025-03-01  1.0  3   test  foo
1  1.0 2025-03-01  1.0  3  train  foo
2  1.0 2025-03-01  1.0  3   test  foo
3  1.0 2025-03-01  1.0  3  train  foo

In [ ]:
# sort by a specific column
df2.sort_values(by="B")

     A          B    C  D      E    F
0  1.0 2025-03-01  1.0  3   test  foo
1  1.0 2025-03-01  1.0  3  train  foo
2  1.0 2025-03-01  1.0  3   test  foo
3  1.0 2025-03-01  1.0  3  train  foo

In [ ]:
df2.sort_values(by="B" , ascending=True)

     A          B    C  D      E    F
0  1.0 2025-03-01  1.0  3   test  foo
1  1.0 2025-03-01  1.0  3  train  foo
2  1.0 2025-03-01  1.0  3   test  foo
3  1.0 2025-03-01  1.0  3  train  foo

In [ ]:
df[0:3]

                   A         B         C         D
2025-08-01  0.462000  0.473742  0.913897  0.937692
2025-08-02  0.547252  0.771015  0.131238  0.599524
2025-08-03  0.788618  0.047442  0.230356  0.759574

In [ ]:
df.loc[dates[0]]

A    0.462000
B    0.473742
C    0.913897
D    0.937692
Name: 2025-08-01 00:00:00, dtype: float64

In [ ]:
df2.loc[:,["A","B"]]

     A          B
0  1.0 2025-03-01
1  1.0 2025-03-01
2  1.0 2025-03-01
3  1.0 2025-03-01

In [ ]:
## loc[row_index ,[column_name]]

df.loc["20250802":"20250804",["A","B"]]

                   A         B
2025-08-02  0.063699  0.345765
2025-08-03  0.231629  0.392336
2025-08-04  0.201841  0.290188

In [14]:
df.at[dates[0],"A"]

np.float64(0.5038249848113706)

In [16]:
# postion wise
df.iloc[3]

A    0.219789
B    0.415355
C    0.653135
D    0.527790
Name: 2025-08-04 00:00:00, dtype: float64

In [17]:
df.iloc[:3,:]

                   A         B         C         D
2025-08-01  0.503825  0.530399  0.500151  0.865968
2025-08-02  0.709552  0.125351  0.971586  0.703200
2025-08-03  0.522347  0.158289  0.356503  0.300407

In [18]:
df.iloc[:,:1]

                   A
2025-08-01  0.503825
2025-08-02  0.709552
2025-08-03  0.522347
2025-08-04  0.219789
2025-08-05  0.715203
2025-08-06  0.744881
2025-08-07  0.226652

In [19]:
df.iloc[:,:3]

                   A         B         C
2025-08-01  0.503825  0.530399  0.500151
2025-08-02  0.709552  0.125351  0.971586
2025-08-03  0.522347  0.158289  0.356503
2025-08-04  0.219789  0.415355  0.653135
2025-08-05  0.715203  0.860364  0.354521
2025-08-06  0.744881  0.184717  0.674358
2025-08-07  0.226652  0.273027  0.020477

In [20]:
# greater than

In [24]:
# column name , greater than

df[df["B"]>0.2]

                   A         B         C         D
2025-08-01  0.503825  0.530399  0.500151  0.865968
2025-08-04  0.219789  0.415355  0.653135  0.527790
2025-08-05  0.715203  0.860364  0.354521  0.786171
2025-08-07  0.226652  0.273027  0.020477  0.200806

In [25]:
df[df["B"]<0.2]

                   A         B         C         D
2025-08-02  0.709552  0.125351  0.971586  0.703200
2025-08-03  0.522347  0.158289  0.356503  0.300407
2025-08-06  0.744881  0.184717  0.674358  0.676916

In [28]:
df[df["B"]==0.3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [29]:
df

                   A         B         C         D
2025-08-01  0.503825  0.530399  0.500151  0.865968
2025-08-02  0.709552  0.125351  0.971586  0.703200
2025-08-03  0.522347  0.158289  0.356503  0.300407
2025-08-04  0.219789  0.415355  0.653135  0.527790
2025-08-05  0.715203  0.860364  0.354521  0.786171
2025-08-06  0.744881  0.184717  0.674358  0.676916
2025-08-07  0.226652  0.273027  0.020477  0.200806

In [30]:
df4 = df.copy()

In [33]:
#add one more column
df4["F"] = ["one","two","three","four","five","six","seven"]

In [32]:
df4

                   A         B         C         D      F
2025-08-01  0.503825  0.530399  0.500151  0.865968    one
2025-08-02  0.709552  0.125351  0.971586  0.703200    two
2025-08-03  0.522347  0.158289  0.356503  0.300407  three
2025-08-04  0.219789  0.415355  0.653135  0.527790   four
2025-08-05  0.715203  0.860364  0.354521  0.786171   five
2025-08-06  0.744881  0.184717  0.674358  0.676916    six
2025-08-07  0.226652  0.273027  0.020477  0.200806  seven

In [34]:
df5 = df["A"]+df["B"]+df["C"]+df["D"]

In [35]:
df5

2025-08-01    2.400343
2025-08-02    2.509689
2025-08-03    1.337546
2025-08-04    1.816068
2025-08-05    2.716259
2025-08-06    2.280872
2025-08-07    0.720962
Freq: D, dtype: float64

In [37]:
df4["sum"] = df5

In [38]:
df4

                   A         B         C         D      F       sum
2025-08-01  0.503825  0.530399  0.500151  0.865968    one  2.400343
2025-08-02  0.709552  0.125351  0.971586  0.703200    two  2.509689
2025-08-03  0.522347  0.158289  0.356503  0.300407  three  1.337546
2025-08-04  0.219789  0.415355  0.653135  0.527790   four  1.816068
2025-08-05  0.715203  0.860364  0.354521  0.786171   five  2.716259
2025-08-06  0.744881  0.184717  0.674358  0.676916    six  2.280872
2025-08-07  0.226652  0.273027  0.020477  0.200806  seven  0.720962

In [39]:
df4["average"] = df5/4

In [40]:
df4

                   A         B         C         D      F       sum   average
2025-08-01  0.503825  0.530399  0.500151  0.865968    one  2.400343  0.600086
2025-08-02  0.709552  0.125351  0.971586  0.703200    two  2.509689  0.627422
2025-08-03  0.522347  0.158289  0.356503  0.300407  three  1.337546  0.334386
2025-08-04  0.219789  0.415355  0.653135  0.527790   four  1.816068  0.454017
2025-08-05  0.715203  0.860364  0.354521  0.786171   five  2.716259  0.679065
2025-08-06  0.744881  0.184717  0.674358  0.676916    six  2.280872  0.570218
2025-08-07  0.226652  0.273027  0.020477  0.200806  seven  0.720962  0.180241

In [42]:
df6 = df.iloc[:,1:3]

In [43]:
df6

                   B         C
2025-08-01  0.530399  0.500151
2025-08-02  0.125351  0.971586
2025-08-03  0.158289  0.356503
2025-08-04  0.415355  0.653135
2025-08-05  0.860364  0.354521
2025-08-06  0.184717  0.674358
2025-08-07  0.273027  0.020477