In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
titanic = pd.read_csv("D:\\DataScience2\\Practise\\02_DataScience\\pd_and_np\\titanic.csv")

In [4]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# if you load data from online like sns.load_dataset('titanic') then you want to save it in same folder
# you do it by titanic.to_csv("titanic.csv")
# install package edit csv

In [5]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [9]:
new_titanic = titanic.drop(['deck','embark_town','alone'], axis=1)

In [10]:
new_titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,alive
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,no
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,yes
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,yes
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,yes
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,no

In [14]:
new_titanic.mean()

TypeError: can only concatenate str (not "int") to str

In [16]:
titanic.groupby(["sex","class"]).mean()

TypeError: agg function failed [how->mean,dtype->object]